html{
    margin:50px;
    background-color:#e8eae8;
    color:#5d665b;
}

body
{
margin-right: 50px;  margin-bottom: 70px; margin-top: 70px;
 font-family: Verdana, Geneva, Arial, sans-serif;
 font-size: small;
 line-height: 180%;
}

h2{
    color:#966b72;
    font-family: Georgia;
}

.one{font-size: 75%;}

.two{ font-size: 70%;}

.three{text-indent:3em;}
